.fingerprint-clue {
  width: 5%;
  height: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url(../images/fp-1.png);
  background-position: center;
  background-size: 100% 100%;
}

#wrapper {
  position: relative;
}

/* #wrapper img {
  position: absolute;
} */
#small-img {
  position: relative;
  top: 0px;
  left: 0px;
  width: 600px;
  height: 300px;
  background-image: url(../images/bg.webp);
  background-position: center;
  background-size: 100%;
}
#big-img {
  top: -82px;
  left: -110px;
  position: absolute;
  pointer-events: none;
  width: 1200px;
  height: 600px;
  background-image: url(../images/bg.webp);
  background-position: center;
  background-size: 100%;
  clip-path: circle(0px at center);
}

#magnifing-glass {
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  width: 100px;
  height: 100px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/741142/glass.png);
  background-position: center;
  background-size: 100%;
  z-index: 100;
}

.fingerprint-choose {
  display: flex;
  justify-content: center;
}

.fingerprint-choose img {
  width: 50%;
  cursor: pointer;
}
#message {
  color: rgb(210, 0, 0);
  font-size: 1.5rem;
}

#timer {
  display: inline-block;
  background-color: rgba(0, 200, 0, 0.3);
  border-radius: 15%;
  padding: 1rem 1.4rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}


#popup .modal-body{
  font-size: 3rem;
}